<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>485132827111-9pkjiffovhksne8d8h2m5n6idfpegc5u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.485132827111-9pkjiffovhksne8d8h2m5n6idfpegc5u</string>
	<key>API_KEY</key>
	<string>AIzaSyBDoYkMNHhzPO8-D04S7Wb34cHc3y08qAM</string>
	<key>GCM_SENDER_ID</key>
	<string>485132827111</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ibaCourse</string>
	<key>PROJECT_ID</key>
	<string>ibacourse-d90db</string>
	<key>STORAGE_BUCKET</key>
	<string>ibacourse-d90db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:485132827111:ios:a59dfdd4491a31f3c2e542</string>
</dict>
</plist>